<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <nav>
            <a href="/flights" style="color: black; text-decoration: none">ALL FLIGHTS</a>
            |
            <a href="/flights/new" style="color: black; text-decoration: none">ADD FLIGHT</a>
        </nav>
        <main>
            <h1><%= title %></h1>